<!DOCTYPE html>
<html>
<head>
  <title>ParentingNeedsMoney</title>
  <link rel="icon" type="image/png" href="img/favicon.png">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <%= render 'layouts/meta' %>

</head>
<body id="page-top" data-target=".navbar-fixed-top">
  <div class="wrapper">
  <%= render partial: "static/header_mobile", locals: {menus: @menus, categories: @categories, category: @category} %>
  <%= yield %>
  <%= render partial: 'categories/modal', locals: {categories: @categories, category: @category} %>
  <%= render 'layouts/footer_mobile' %>
  <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
